@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100..900&display=swap");
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@theme {
  --color-primary: #5c048f;

  --font-kaushan: "Kaushan Script", cursive;
  --font-roboto: "Roboto", sans-serif;

  /*--breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;*/

  @keyframes open-menu {
    0% {
      transform: scaleY(0);
      opacity: 0;
      transform-origin: top;
    }
    80% {
      transform: scaleY(1.05);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  --animate-open-menu: open-menu 0.35s ease-in-out forwards;
}

html,
body,
#root {
  height: 100%;
}

@media (max-width: 768px) {
  #hamburger-button {
    display: flex !important;
  }

  .desktop-menu {
    display: none !important;
  }
}
